<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TimeKeeper.Properties.Settings>
            <setting name="FamilyName" serializeAs="String">
                <value>Guisadio</value>
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>Peter Clark</value>
            </setting>
            <setting name="EmployeeNumber" serializeAs="String">
                <value>001247696</value>
            </setting>
            <setting name="TimeIn" serializeAs="String">
                <value>3 PM</value>
            </setting>
            <setting name="CustomSavePath" serializeAs="String">
                <value />
            </setting>
        </TimeKeeper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TimeKeeper.Properties.Settings>
            <setting name="TemplateFileName" serializeAs="String">
                <value>template.xlsm</value>
            </setting>
            <setting name="SheetNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </TimeKeeper.Properties.Settings>
    </applicationSettings>
</configuration>